<!DOCTYPE html>
<html>
<head>
    <title>VoxPop </title>
</head>
<body>
    <h1>Add your opinion</h1>
    <form action="/" method="post">
        <input type="text" name="user" placeholder="Your Name"><br> 
        <textarea name="text" placeholder="Enter"></textarea><br>
        <select name="category">
            <option value="positive">Positive</option>
            <option value="negative">Negative</option>
        </select><br>
        <button type="submit">Add</button>
    </form>
</body>
</html>